body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0px 0;
}

.btn-group a + a {
    margin-left: 15px;
}

.btn-primary {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase; 
    letter-spacing: 2.5px;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    border-radius: 30px;  
    padding: 20px 40px;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}

.btn-secondary {
    font-size: 12px;
    font-weight: 700;
    color: #7e8bae;
    text-transform: uppercase; 
    letter-spacing: 2.5px;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    border-radius: 30px;
    padding: 20px 40px;
}

.btn-secondary:hover {
    background-color: #fff;
}

.btn-free {
    font-weight: 400;
    padding: 22px 56px;
    letter-spacing: 1.7px;
}

.btn-info {
    font-size: 12px;
    font-weight: 700;
    color: #8085b1;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    background-color: transparent;
    border: 1px solid #dce1e5;
    border-radius: 30px;
    padding: 20px 40px;
}

.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}

.grid h2 span {
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

.grid-text span {
    font-size: 16px;
    font-weight: 700;
    color: #192b59;
}

.grid-text p:nth-of-type(2) {
    font-size: 14px;
    font-weight: 400;
    color: #1085e4;
}

.page-subscribe {
    background-color: #0a2090;
}

.page-subscribe h2 span {
    font-size: 14px;
    font-weight: 800;
    color: #00bffe;
    text-transform: uppercase;
    display: block;
}

.page-subscribe h2 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.page-subscribe p {
   color: #dfe8ff;
}

.page-software h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-software dt {
    font-size: 16px;
    font-weight: 700;
    color: #5a6789;
}

.page-stat h2 span {
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
}

.page-stat h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-stat li span {
    font-size: 60px;
    font-weight: 700;
    color: #bacbdc;
    text-transform: uppercase;
    display: block;
}

.page-stat li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
}

.page-app h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-app p:nth-of-type(2) {
    font-size: 16px;
    font-weight: 700;
    color: #c4d2dd;
    text-transform: uppercase;
}

.page-analytics h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-analytics a {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #1085e4;
}

.page-analytics2 h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-analytics2  a {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #1085e4;
}

.page-screen h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
}

.page-screen h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
}

.page-clients h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #85c8ff;
    text-transform: uppercase;
    display: block;
}

.page-clients h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    background-color: #1085e4;
}

.page-clients p {
    font-size: 14px;
    line-height: 24px;
    color: #8085b1;
}

.page-clients .name {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    color: #000958;
}

.page-clients .position {
    font-size: 14px;
    font-weight: 700;
    line-height: 60px;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
}

.page-plans h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #85c8ff;
    text-transform: uppercase;
    display: block;
}

.page-plans h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
}

.box-price h3 {
    font-size: 70px;
    font-weight: 700;
    line-height: 40px;
    color: #000958;
}

.box-price p {
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
}

.box-price .active h3 span:nth-of-type(1) {
    font-size: 20px;
    font-weight: 700;
    color: #192b59;
}

.box-price-item:nth-of-type(3) h3 span:nth-of-type(1) {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.box-price .active h3 span:nth-of-type(2),
.box-price-item:nth-of-type(3) h3 span:nth-of-type(2) {
    font-size: 20px;
    font-weight: 700;
    color: #7b8ab2;
}

.box-price .active h3 {
    color: #fff;
    background-color: #192b59;
}

.box-price.active p {
    color: #fff;
}

.box-price li {
    color: #8085b1;
}

.box-price .active li {
    color: #fff;
    background-color: #192b59;
}